@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 
Nav
 */

.movies__logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.nav__row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    background-color: #2F3D54;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
    max-width: 1200px;
    background-color: #2F3D54;
    margin-bottom: 24px;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    color: white;
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
    position: relative;
    font-size: 18px;
}

.nav__link:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
    background-color: white;
}

.nav__link:hover:after {
    left: 0;
    width: 100%;
}

/* 
Landing Page
*/

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

h3 {
    font-size: 38px;
    padding: 12px 0;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

input {
    background-color: #fff;
    border: 1px solid #24242463;
    border-radius: 20px;
    height: 70px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #2f3d54cc;
}

button {
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #2F3D54;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 7px 7px 14px #2f3d545e;
    transition: all 300ms ease;
}

button:hover {
    background-color: blue;
}

button:active {
    transform: scale(.8);
}


.movie-theatre--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}


.error {
    padding-top: 80px;
    color: rgb(138, 7, 7);
    font-size: 60px;
}

.fa-spinner {
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    animation: spin 1000ms linear infinite;
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {transform: rotate(360deg)}
}

.invisible {
    display: none !important;
}

/* 
Movies results
*/

.results__header {
    display: flex;
    align-items: center;
    width: 100%;  
    padding: 0 40px;
    justify-content: space-between;
}
.results__row {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1200px;
}


.search__title {
    display: flex;
    font-size: 28px;
    padding-left: 16px;
    color: #2F3D54;
    font-weight: bold;
}

select {
    font-size: 20px;
    background-color:#bccde941;
    border-radius: 8px;
}

select:hover{
    border: 1px solid blue;
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.movies__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.movie {
    width: calc(100% / 3);
    max-width: 300px;
    padding: 12px;
    
}

.movie__poster--wrapper {
    width: 100%;
    box-shadow: 0px 7px 14px #2f3d54ab;
    background-color: #2f3d542f;
}

.movie__poster--img {
    background-color: #2f3d5454;
    color: #2F3D54;
}

.movie__title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 16px;
    
}

.movie__year {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}

/* .loading__state--gray {
    opacity: 1%;
    background-color: #2f3d542f;

} */

/* 
footer
*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.footer__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2F3D54;
    margin-top: 32px;
    width: 100%;
    max-width: 1200px;
}

.footer__text {
    color: white;
    padding-bottom: 16px;
    font-size: 16px;
}

.footer__logo {
    padding: 24px;
}

@media (min-width: 1200px) {
    .nav__row {
        max-width: 1900px;
        background-color: #2F3D54;
    }
    nav {
        max-width: 1800px;
    }
    #landing-page {
        max-width: 1900px;
        margin: 0 auto;
    }
    .footer__wrapper {
        max-width: 1900px;
    }
    .movies {
        justify-content: space-evenly;
    }
}

@media (max-width: 992px) {
    .search__title {
        font-size: 24px;
    }
    select {
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
}

@media (max-width: 768px){
    h3 {
        text-align: center;
        padding: 12px;
    }
    .movie {
        width: 50%;
    }.movies {
        margin: 0 auto;
    }
    .input__wrapper {
        padding: 16px;
    }

}

@media (max-width: 480px) {

    .results__header{
        display: flex;
        flex-direction: column;
    }
    .movies__logo {
        margin: 0 8px;
    }
    .landing__content{
        margin: 0 16px;
    }
    .movie-theatre--wrapper{
        margin: 0 16px;
    }
    .error{
        text-align: center;
        font-size: 40px;
    }
    .movie {
        width: 100%;
    }
    .input__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
    }
    button {
        width: 90%;
        margin: 0 auto;
    }
    .search__text {
        margin: 12px 0;
    }
    .search__title {
        font-size: 20px;
        margin-top: 16px;
        text-align: center;
    }
    select {
        font-size: 16px;
        margin-top: 8px;
    }
}